@import "fonts";

/* You can add global styles to this file, and also import other style files */
:root{
    --dark-color: #000000;
    --light-color: #FFFFFF;
    --primary-color: #AE7AFF;
    --grey-color: #5F646D;
}

body{
    background: var(--dark-color);
    color: var(--light-color);
    background-image: url(../public/assets/img/background.png);
    background-repeat: no-repeat;
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.skill-tag{
    border: 1px solid var(--light-color);
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 4px;
    display: inline;
    margin-right: 4px;
    height: 24px;
    
}

.btn{
    font-size: 14px;
    font-weight: 700;
    color: var(--dark-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
    border-radius: 4px;
    font-family: 'JetBrains Mono';
    width: 100%;
    line-height: 24px;
    border: 1px solid var(--dark-color);
    margin-top: 40px;
    
}

.btn-shadow{

    position: relative;

    &::before{
        content: '';
        position: absolute;
        bottom: -4px;
        right: -4px;
        background: var(--grey-color);
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 4px;
    }

}

.h1{
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
    font-family: 'JetBrains Mono';

}

.h6{
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    font-family: 'JetBrains Mono';

}

.subtitle{
    font-size: 14px;
    line-height: 20;
    font-family: 'JetBrains Mono';

}

.tt-control-label{
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    font-family: 'JetBrains Mono';
    display: block;

}

.tt-input{
    display: block;
    border: 1px solid var(--dark-color);
    border-radius: 4px;
    padding: 12px 20px;
    background: var(--dark-color);
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    margin-top: 8px;
    color: var(--light-color);
}
.mb-16{
    margin-bottom: 16px;
}
.mp-32{
    margin-bottom: 32px;
}
.mb-60{
    margin-bottom: 60px;
    font-family: 'JetBrains Mono';

}
